<div class="card-container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"> <mat-icon aria-hidden="false" aria-label="error icon" fontIcon="error"></mat-icon></div>
     

      <mat-card-title>404 Error!</mat-card-title>
      <mat-card-subtitle>Page not found!</mat-card-subtitle>
    </mat-card-header>
    <img
      id="not-found-img"
      mat-card-image
      src="../../../assets/404-image.jpg"
      alt="404 not found image"
    />
    <mat-card-content>
      <p>
        We're sorry, but the page you're looking for couldn't be found. It seems
        like you've taken a wrong turn, just like a Shiba Inu exploring off the
        beaten path! If you're lost in the digital wilderness, feel free to
        return to the safety of our home page or navigate to the select stops
        page.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>GO TO HOME PAGE</button>
      <button mat-button>GO TO SELECT STOPS PAGE</button>
    </mat-card-actions>
  </mat-card>
</div>
